@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Quicksand:wght@300;400;500&display=swap');

.background-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.background{
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/background.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    filter: saturate(40%);
    margin: 0;
}

.title-container{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.579);
    width: 320px;
    height: 140px;
    display: flex;
    flex-direction: column;
    z-index: 500;
    position: absolute;
    backdrop-filter: blur(3px);
    border-radius: 5px;
}

.title{
    font-family: 'Poiret One', sans-serif;
    color: #f1a665;
    font-size: 44px;
    background-color: transparent;
}

.subtitle{
    font-family: 'Quicksand', sans-serif;
    font-size: 28px;
    color: white;
    background-color: transparent;
    font-weight: 400;
}

.description{
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color: white;
    background-color: transparent;
    font-weight: 500;
    text-wrap: balance;
}


.material-symbols-outlined {
  color: #f1a665;
  font-size: 48px;
  position: absolute;
  background-color: transparent;
  margin-top: 85vh;
}

