@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Quicksand:wght@300;400;500&display=swap');

.contact-container{
    height: 100vh;
    background-color: rgb(21, 21, 21);
}

.reserv-container{
    top: 0;
    display: flex;
    align-items: center ;
    height: 100%;
    width: 100vw;
    flex-direction: column;
    background-color: rgb(21, 21, 21);
}

.reserv-container h1{
    font-family: 'Poiret One', sans-serif;
    color: #f1a665;
    font-size: 4rem;
    margin-bottom: 10px;
    font-weight: 200;
    margin-top: 100px;
}

.reserv-container h2{
    font-family: 'Poiret One', sans-serif;
    font-size: 2.4rem;
    color: rgb(255, 255, 255);
    font-weight: 400;
    margin-bottom: 40px;
}

.reserv-container h3{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.7rem;
    color: #ffffff;
    background-color: transparent;
    font-weight: 400;
    text-align: left;
}

.res-container{
    display: flex;
    align-items: center ;
    flex-direction: column;
    margin-top: 40px;
}

.res-container h2{
    color: #f1a665;
}

.map-container {
    max-width: 700px; 
    max-height: 300px; 
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
  }

  .map-container h2{
    font-family: 'Poiret One', sans-serif;
    font-size: 2.4rem;
    color: #f1a665;
    font-weight: 400;
  }
  
.map-container img{
    max-width: 700px; 
    margin: 0 auto; 
    z-index: 800;
  }

  @media only screen and (max-width: 1200px) {
    .reserv-container{
    text-align: center;
    }

    .res-container{
        width: 90vw;
        text-align: center;
    }

    .reserv-container h1{
        font-size: 3rem;
    }
    .reserv-container h2{
        font-size: 2rem;
    }
    .reserv-container h3{
            text-align: center;
        font-size: 1.3rem;
    }
    .map-container h2{
        font-size: 1.8rem;
    }
    .map-container img{
    max-width: 90vw; 
    }
  }